

body {
  font-family: "Source Sans Pro", monospace;
  
  background-color: lightblue; 

}
.pageTitle{
  font-weight: 600;
  font-size: 3.2em;
  padding-top: 20px;
  text-align: center;
}
.sidenav {
  height: 100%;
  width: 14%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #12187D;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a {
  padding: 30px 2px 30px 28px;
  text-decoration: none;
  font-size: 1.3vw;
  color: #FFFFFF;
  display: block;
}

.sidenav a:hover {
  color: #18a9d5;
}

.main {
  margin-left: 200px; /* Same as the width of the sidenav */
  font-size: 50px; 
  padding: 0px 100px;
  color: pink
}

@media only screen and (max-width:767px) {
  .sidenav {
    height: 100%;
    width: 14%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #12187D;
    overflow-x: hidden;
    padding-top: 10px;
  }
  
  .sidenav a {
    padding: 6px 0px 6px 5px;
    text-decoration: none;
    font-size: 1.3vw;
    color: #FFFFFF;
    display: block;
  }
}
